<nav class=" mt-3 mx-auto block w-full max-w-screen-xl transition-colors rounded-xl border border-white/80  bg-gradient-to-l from-slate-500 to-slate-200 bg-opacity-80 py-1 px-4 text-white shadow-md backdrop-blur-2xl backdrop-saturate-200 lg:px-8 lg:py-4">
  <div>
    <div class="container mx-auto flex items-center justify-between text-gray-900">
      <a
              href="/"
              class="mr-4 block cursor-pointer py-1.5 font-sans text-2xl font-normal leading-normal text-inherit antialiased"
      >
        <span>ONLINE PLACEMENT CELL </span>
      </a>
      <ul class="hidden items-center gap-6 lg:flex">
        <li class="block p-1 font-sans text-lg font-normal leading-normal text-white antialiased">
          <a class="flex items-center" href="/students">
            Students
          </a>
        </li>
        <li class="block p-1 font-sans text-lg font-normal leading-normal text-white antialiased">
          <a class="flex items-center" href="/selectStudents">
            Selection
          </a>
        </li>
        <li class="block p-1 font-sans text-lg font-normal leading-normal text-white antialiased">
          <a class="flex items-center" href="/internship">
            Internship
          </a>
        </li>
        <li class="block p-1 font-sans text-lg font-normal leading-normal text-white antialiased">
          <a class="flex items-center" href="/">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>