<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="navbar/placementNav.html"></div>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>



    <div class="grid grid-cols-12">
        <div class="col-start-2 col-end-4">
            <table class="mt-15 text-center text-sm bg-gradient-to-l from-slate-200 to-slate-400  w-10/12 border-8 border-double border-slate-500 ">
                <thead>
                <tr  class="border-b font-medium border-4 border-double border-pink-500 ">
                    <h1 class="text-pink-500 mt-20 text-xl ">FOR THE YEAR OF 2019</h1>

                    <th  scope="col" class="px-6 py-2 text-lg">CompanyName</th>
                    <th  scope="col" class="px-6 py-2 text-lg">No of Students</th>
                </tr>
                </thead>
                <tbody>
                 <tr>
                    <td class="whitespace-nowrap px-6 py-2" >YoUngMinds</td>
                    <td class="whitespace-nowrap px-6 py-2" >68</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >TCS</td>
                    <td class="whitespace-nowrap px-6 py-2" >60</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >Wipro</td>
                    <td class="whitespace-nowrap px-6 py-2" >08</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >Infosy</td>
                    <td class="whitespace-nowrap px-6 py-2" >08</td>
                </tr>
                </tbody>
            </table>

        </div>
        <div class="col-start-5 col-end-7">
            <table class="mt-15 text-center text-sm bg-gradient-to-l from-slate-200 to-slate-400  w-10/12 border-8 border-double border-slate-500 ">
                <thead>
                <tr  class="border-b font-medium border-4 border-double border-pink-500 ">
                    <h1 class="text-pink-500 mt-20 text-xl ">FOR THE YEAR OF 2020</h1>

                    <th  scope="col" class="px-6 py-2 text-lg">CompanyName</th>
                    <th  scope="col" class="px-6 py-2 text-lg">No of Students</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >YoUngMinds</td>
                    <td class="whitespace-nowrap px-6 py-2" >78</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >TCS</td>
                    <td class="whitespace-nowrap px-6 py-2" >30</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >Wipro</td>
                    <td class="whitespace-nowrap px-6 py-2" >70</td>
                </tr>
                <tr>
                    <td class="whitespace-nowrap px-6 py-2" >Infosy</td>
                    <td class="whitespace-nowrap px-6 py-2" >56</td>
                </tr>
                </tbody>
            </table>

        </div>  <div class="col-start-8 col-end-11">
        <table class="mt-15 text-center text-sm bg-gradient-to-l from-slate-200 to-slate-400  w-10/12 border-8 border-double border-slate-500 ">
            <thead>
            <tr  class="border-b font-medium border-4 border-double border-pink-500 ">
                <h1 class="text-pink-500 mt-20 text-xl ">FOR THE YEAR OF 2021</h1>

                <th  scope="col" class="px-6 py-2 text-lg">CompanyName</th>
                <th  scope="col" class="px-6 py-2 text-lg">No of Students</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="whitespace-nowrap px-6 py-2" >YoUngMinds</td>
                <td class="whitespace-nowrap px-6 py-2" >56</td>
            </tr>
            <tr>
                <td class="whitespace-nowrap px-6 py-2" >TCS</td>
                <td class="whitespace-nowrap px-6 py-2" >78</td>
            </tr>
            <tr>
                <td class="whitespace-nowrap px-6 py-2" >Wipro</td>
                <td class="whitespace-nowrap px-6 py-2" >08</td>
            </tr>
            <tr>
                <td class="whitespace-nowrap px-6 py-2" >Infosy</td>
                <td class="whitespace-nowrap px-6 py-2" >80</td>
            </tr>
            </tbody>
        </table>

    </div>

    </div>

</div>



</body>
</html>